@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #0c0c0e;
  --color-foreground: #efefef;
  --color-light: #a0a0a9    ;
  --color-primary: #c9a849;
  --color-primary-foreground: #0c0c0e;
  --color-card: #14141a;
  --color-muted: #6b6b73;
  --color-border: #26262e;

  --radius: 0.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}